<!DOCTYPE html>
<html>
<head>
    <title>Payment History</title>
    <style>
        body{margin:0;font-family:Arial;background:#0f172a;color:white;}
        .header{background:#1e293b;padding:18px;text-align:center;font-size:24px;font-weight:bold;}
        .container{width:90%;max-width:900px;margin:30px auto;}
        .box{background:#1e293b;padding:25px;border-radius:14px;}
        .back-btn{
            display:inline-block;padding:10px 18px;border-radius:8px;background:#475569;
            color:white;text-decoration:none;
        }
    </style>
</head>
<body>
    <div class="header">Payment History</div>
    <div class="container">
        <div class="box">
            <h3>Payment history page coming next</h3>
            <p>Here admin will filter area-wise and date-wise payment details.</p>
            <a href="{% url 'admin_dashboard' %}" class="back-btn">Back</a>
        </div>
    </div>
</body>
</html>